@model tuan3.Models.StudentModel

<h2>Kết quả đăng ký</h2>

<p>Cám ơn bạn <strong>@Model.Id</strong> - <strong>@Model.Name</strong> - <strong>@Model.Score</strong> đã đăng ký chuyên ngành <strong>@Model.Major</strong>.</p>

<p>Số lượng sinh viên đã đăng ký cùng chuyên ngành với bạn: <strong>@ViewBag.SoLuong</strong></p>
